table {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}
table thead {
  background: #676767;
  text-transform: uppercase;
}
table thead th {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}
table thead th:first-child {
  border-left: none;
}
table tbody td {
  font-size: 14px;
  color: #0a0a0a;
  line-height: 40px;
}
table tbody td:hover {
  cursor: pointer;
}
table tr:nth-child(even) {
  background: #f1f1f1;
}
